body {
  padding-top: 70px;
}
.navbar-custom {
  background-color: #1A374D;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #B1D0E0;
}
.about-line {
  padding-top: 20px;
}

.about-line > .label {
  font-weight: bold;
  padding-right: 10px;
}

.diary .date {
  font-weight: bold;
  color: #696969;
  padding-right: 10px;
}

.diary .title a {
  text-decoration: none;
}

.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }
